body {
  margin-right: 20dvh;
  margin-left: 20dvh;
}

* {
  flex-direction: column;
}
table,
th,
td {
  td,
  th {
    padding-left: 15px;
    padding-right: 15px;
  }
  border-spacing: 0;
}
thead {
  background-color: rgb(212, 212, 212);
}
tbody {
  background-color: rgb(245, 245, 245);
}
.titulo {
  text-align: center;
}
.seccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

button {
  width: fit-content;
  padding: 10px;
  border-radius: 50px;
  margin: 10px;
  border: 1px gray solid;
  margin-left: auto;
  margin-right: auto;
}
.boton-eliminar {
  background: none !important;
  border: none;
}

.espacio {
  display: flex;
  justify-content: center;
  padding-top: 10dvh;
}

input,
select {
  width: 15dvh;
  border-radius: 5px;
  border: 1px gray solid;
}

.caja-secundaria {
  min-height: 30dvh;
}

#pagarB {
  display: none;
}
#informacionT {
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: 25dvh;
  margin-right: 25dvh;
}

#informacion-pago {
  width: fit-content;
  padding-right: 10dvh;
  padding-left: 10dvh;
  padding-bottom: 1dvh;
  background-color: rgb(245, 245, 245);
  margin-right: auto;
  margin-left: auto;
}

#dialogoM {
  text-align: start;
  background-color: rgb(245, 245, 245);
  padding: 5dvh;
}

#acciones-pagarM {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-right: auto;

}